.free-lessons {
    margin-top: 200px;
    text-align: center;
    @include mobile {
    margin-top: 100px;
}
		&__title {
        font: var(--H2);
        color: var(--Text-Primary);
        margin-bottom: 16px;
        @include mobile {
            font-size: 36px;
        }
		}

		&__desc {
        font: var(--Body_text_18);
        color: var(--Body-text);
        margin-bottom: 58px;
		}

		&__form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        @include mobile {
            flex-direction: column;
            }
		}

        &__input {
        width: 410px;
        padding: 15px 33px;
        border-radius: 73px;
        border: 1px solid transparent;
        background: var(--Background---Dark);
        font: var(--Body_text_18);
        color: var(--Outline-dark);
        outline: none;
        @include mobile {
            width: 365px;
            }
        }

		&__btn {
        display: flex;
        padding: 14px 32px;
        border: 1px solid transparent;
        border-radius: 73px;
        background: var(--Primary-200);
        font: var(--Button);
        color: var(--c-text-white);
        @include mobile {
            padding: 12px 60px;
            }
		}
}

input:focus {
        border: 1px solid var( --Primary-200);
        color: var(--Text-Primary);
}

.free-lessons__btn:hover {
    border: 1px solid var( --Text-Primary);
    color: var(--Text-Primary);
    transition: var(--transition);
}