
.teachers {
    margin-top: 240px;
    @include mobile {
        margin-top: 100px;
  }

    &__subtitle {
        font: var(--Subtitle_1);
        color: var(--Outline-dark);
        text-transform: uppercase;
        margin-bottom: 4px;
    }

    &__title {
        font: var(--H2);
        color: var(--Text-Primary);
        margin-bottom: 59px;
    }

		&__owl-carousel {
		}

		&__img {
            height: 100%;
            border-radius: 60px;
		}

        &__img-flag{
            max-width: 34px;
        }

		&__name {
            margin-top: 40px;
            font: var(--H5);
            color: var(--Text-Primary);
            margin-bottom: 16px;
		}

		&__decs {
            display: flex;
            align-items: center;
            gap: 12px;
		}

		&__language {
            font: var(--Body_text_18);
            color: var(--Body-text);
		}
}
.owl-theme {
}
.item {
}
