@font-face {
  font-family: "Axiforma";
  src: url("../img/Axiforma-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("../img/Axiforma-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma";
  src: url("../img/Axiforma-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma-Light";
  src: url("../img/Axiforma-Light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Axiforma-Book";
  src: url("../img/Axiforma-Book.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

